body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
}

h1 {
  color: #4E92DF;
}

h2 {
  color: DimGray;
}
.myimage{
  height: 30vh;
  width: auto;
}

.main{
  display: flex;
  justify-content: space-around;
  height: 20vh;
  width:20vw;
  
}
